*.css linguist-detectable=false
*.less linguist-detectable=false
*.scss linguist-detectable=false
*.svg linguist-detectable=false
*.png linguist-detectable=false
*.eot linguist-detectable=false
*.ttf linguist-detectable=false
*.woff linguist-detectable=false
*.woff2 linguist-detectable=false
*.txt linguist-detectable=false
*.yml linguist-detectable=false
*.json linguist-detectable=false
*.pptx linguist-detectable=false
*.js linguist-detectable=false
*.ts linguist-detectable=false
*.html linguist-detectable=false
*.sql linguist-detectable=false
*.sh linguist-detectable=false
*.exs linguist-detectable=false
*.eex linguist-detectable=false
*.lock linguist-detectable=false
*.md linguist-detectable=false
*.ex linguist-detectable=true
